

<ul>
        {% for zodiac,haomas in haoma_dict.items %}
       <li> 

      {% if zodiac.be_pick == True %}
                {{zodiac}}  
                {% else %}
             <font color="#999999">{{zodiac}}</font>  
                {% endif %}
        
                {% for haoma in haomas %}
    {% if haoma.be_pick == True %}
                 {{haoma}}    
         {% else %}
             <font color="#999999">{{haoma}}</font>  
                {% endif %}
        {% endfor %}
                </li>
                {% endfor %}
</ul>

<ul> 
<form name='select_haoma' action='/' method='GET'>
<lable for='zodiac'>生肖：</lable><br>
<input type='checkbox' name='zo' value='sex'>男肖
<input type='checkbox' name='zo' value='heaven_or_earth'>天肖
<input type='checkbox' name='zo' value='nature'>阳肖
<input type='checkbox' name='zo' value='home'>家肖<br>

<input type='checkbox' name='zo' value='QING'>琴肖
<input type='checkbox' name='zo' value='QI'>棋肖
<input type='checkbox' name='zo' value='SHU'>书肖
<input type='checkbox' name='zo' value='HUA'>画肖<br>

<input type='checkbox' name='zo' value='Z_METAL'>金肖
<input type='checkbox' name='zo' value='Z_WOOD'>木肖
<input type='checkbox' name='zo' value='Z_WATER'>水肖
<input type='checkbox' name='zo' value='Z_FIRE'>火肖
<input type='checkbox' name='zo' value='Z_EARTH'>土肖<br>

<input type='checkbox' name='zo' value='SPRING'>春肖/东肖/风肖
<input type='checkbox' name='zo' value='AUTUMN'>夏肖/西肖/雷肖
<input type='checkbox' name='zo' value='SUMMER'>秋肖/南肖/云肖
<input type='checkbox' name='zo' value='WINTER'>冬肖/北肖/雨肖
</form>

</ul>
<!-- 


<ul>

        {% for zodiac  in zodiac_list%}
<li>
     {{zodiac}}      
    </li>
     {% endfor %}

     {% for haoma  in haoma_list %}
     <li>
                {%   for hao in haoma %}
           {{hao}}      
         </li>
          {% endfor %}
          {% endfor %}
</ul>   -->